.form-container{
    padding: 10px;
}

.form-container{
    margin: 50px auto;
    width: 960px;
    background: white;
    border: 1px solid black;
    box-shadow: 10px 10px rgb(184, 183, 183);
}

#contact-title{
color: #b87324;
padding: 20px 0;
border-bottom: 3px solid #dddddd;
}

#name{
    padding: 5px;
}

label{
    color:#777777; 
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea{
    /* border: 2px solid black; */
    padding: 5px;
    width: 90%;
}


input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; /* Firefox */
  }


.submit{
    width: 10%;
    height: 35px;
    background-color: #b87324;
    color: white;
    border: none;
    cursor: pointer;
 }